{% extends "layout.html" %}

{% block content %}
<!--CUSTOM CSS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div id="container">
    <div id="izq">
        <img src="{{ url_for('static', filename='img/IAP.png') }}" class="img-fluid" id="img-logo" alt="Logo">
        <div><a class="btn" id="boton" href="/detectando" role="button">Iniciar</a></div>
    </div>
    <div id="drch">
        <img src="{{ url_for('static', filename='img/circle.png') }}" class="img-fluid" id="img-logo" alt="Logo">
    </div>
</div>

{% endblock %}